h1 {
	margin: 0 !important;
	padding : 1%;
	position:sticky;
	top :0;
	font-family: 'Proza Libre', sans-serif;
	text-align: center;
	box-shadow: 0px 1px 5px grey;
	background-color: #08526b;
	color:white;


}

body {
	margin: 0 !important;
	padding : 0 !important;
	font-family: 'Lato', sans-serif;
	background-color:#018790;



}

div.content {
	display: grid;
	width :100%;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	border: 2px;
	padding:10px;
	margin-top: 0;
	background-color:#f77855;
	align-items: start;
	justify-content: space-between;
}

div.content:first-child {
	align-self: center;
}
div.content article{
	border: 1px ;
	padding:5px;
	margin: 4px;
	background-color:#e73c29;
	

}

article.text {
	text-align: justify;
	border:0 !important;
	text-indent: 10%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: right;
}
